*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    line-height:1.6;
    color:#333;
}

header{
    background:#1e3a5f;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
}

.logo{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#7dd3fc;
}

.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.4),
    rgba(0,0,0,.4)),
    url('https://images.unsplash.com/photo-1517849845537-4d257902454a?w=1600')
    center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero-content p{
    font-size:1.2rem;
    margin-bottom:20px;
}

.btn{
    background:#00b894;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    background:#00a383;
}

.section{
    padding:100px 10%;
}

.section h2{
    text-align:center;
    margin-bottom:40px;
    color:#1e3a5f;
}

.bg-light{
    background:#f5f7fa;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:40px;
    color:#00b894;
    margin-bottom:15px;
}

.team{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.member{
    text-align:center;
}

.member img{
    width:100%;
    border-radius:15px;
}

.schedule{
    text-align:center;
    font-size:1.2rem;
}

form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

form input,
form textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
}

form button{
    background:#1e3a5f;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:1rem;
}

form button:hover{
    background:#274a76;
}

footer{
    background:#1e3a5f;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:10px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:2rem;
    }
}